#edit_profile {
  position: relative;
  overflow-x: hidden;
  padding: 0 20px 80px;
  background-color: var(--white);
}

/* Header */

#edit_profile > header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition-duration: 0.3s;
  width: 100%;
  height: 70px;
  background-color: white;
}

#edit_profile > header > div {
  display: flex;
  align-items: center;
}

#edit_profile > header > div > .btn {
  position: fixed;
  top: 24px;
  left: 20px;
}

#edit_profile > header > div > .progress-bar {
  position: fixed;
  top: 32px;
}

#edit_profile > header > div > .progress-bar > .bar {
  width: 30px;
}

#edit_profile > h1 {
  margin-top: 88px;
  font-family: 'SFProDisplay-Bold';
  font-size: 20px;
  font-weight: 800;
}

/* Form */

#edit_profile > form {
  display: grid;
  gap: 32px;
  margin-top: 24px;
}

#edit_profile > form > h2 {
  font-family: 'SFProDisplay-Bold';
  font-size: 18px;
  font-weight: 800;
}

#edit_profile > form > .inputFields {
  display: grid;
  gap: 32px;
}

#edit_profile > form > .actions {
  display: grid;
  gap: 12px;
  margin-top: 40px;
}

#edit_profile > form > .actions > * {
  width: 100%;
}

/* Screen Width: 390px */

@media only screen and (min-width: 390px) {
  /* Header */

  #edit_profile > header {
    top: 0;
    height: 74px;
  }

  #edit_profile > header > div > .btn {
    position: fixed;
    top: 30px;
    left: 20px;
  }
  
  #edit_profile > header > div > .progress-bar {
    position: fixed;
    top: 38px;
  }

  #edit_profile > h1 {
    margin-top: 96px;
    font-size: 24px;
  }

  /* Form */

  #edit_profile > form > h2 {
    font-size: 20px;
  }
}