#guest_history {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 24px 20px 24px;
  background-color: var(--white);
}

/* Heading */

#guest_history > h1 {
  margin-top: 24px;
  font-family: 'SFProDisplay-Bold';
  font-size: 20px;
  font-weight: 800;
}

/* Tabs */

#guest_history > #tabs {
  margin: 24px 0 40px;
}

/* List */

#guest_history > .list {
  overflow-y: auto;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding-bottom: 24px;
}

#guest_history > .list.active {
  visibility: visible;
}

#guest_history > .list > .item,
#guest_history > .list > .item > .dateAndTime {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 16px;
}

#guest_history > .list > .item .date {
  font-family: 'SFProDisplay-Bold';
  font-weight: 800;
}

#guest_history > .list > .item .time {
  font-family: 'SFProDisplay-Medium';
}

#guest_history > .list > .item > .action {
  transition: 350ms;
}

#guest_history > .logsHistory.list > .item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#guest_history > .logsHistory.list > .item > .logs {
  display: grid;
  gap: 12px;
  width: 100%;
  margin-top: 16px;
}

#guest_history > .logsHistory.list > .item > .logs > .time {
  justify-self: end;
  font-family: 'SFProDisplay-Regular';
}

#guest_history > .list > .content.opened {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}

#guest_history > .list > .content > p {
  display: none;
  justify-self: end;
  font-family: 'SFProDisplay-Medium';
  font-size: 16px;
}

#guest_history > .list > .content.opened > p {
  display: block;
}

/* Screen Width: 390px */

@media only screen and (min-width: 390px) {
  /* Heading */

  #guest_history > h1 {
    font-size: 24px;
  }

  /* List */

  #guest_history > .list {
    gap: 24px;
    height: 65vh;
    padding-bottom: 0;
  }

  #guest_history > .list > .item {
    margin-bottom: 0;
  }

  #guest_history > .list > .content {
    margin-top: -24px;
  }

  #guest_history > .list > .content.opened {
    margin-top: 0;
  }

  #guest_history > .list > .content > p {
    font-size: 18px;
  }
}

/* Screen Width: 410px */

@media only screen and (min-width: 410px) {
  /* List  */

  #guest_history > .list {
    height: 68vh;
  }

  #guest_history > .list > .item > .date,
  #guest_history > .list > .item > .time {
    font-size: 18px;
  }
}