#side_bar {
  visibility: hidden;
}

#map {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: 64px;
}

.guest_map {
  padding-top: 0 !important;
}

/* Search Bar */

#map > .searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 24px;
  box-shadow: 10px 10px 20px rgba(187, 187, 187, 0.25);
  background-color: var(--white);
}

#map > .searchBar > .btn {
  margin-left: 16px;
  padding: 8px 14px;
}

/* Blue Print */

#map > .bluePrint {
  overflow: scroll;
  width: 100vw;
  height: 100vh;
}

#map > .bluePrint > .gridWrapper {
  position: relative;
  width: fit-content;
  background-color: #FFF;
}

/* Road Labels */

#map > .bluePrint > .gridWrapper > .roadLabel {
  position: absolute;
  z-index: 99;
  color: #B1B3B6;
  font-size: 10px;
  font-weight: bold;
}

#map > .bluePrint > .gridWrapper > .roadLabel:first-child {
  top: 81.5px;
  left: 600px;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(2) {
  top: 177.5px;
  left: 600px;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(3) {
  top: 241.5px;
  left: 600px;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(4) {
  top: 140px;
  left: 335px;
  transform: rotate(90deg);
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(5) {
  top: 241.5px;
  left: 170px;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(6) {
  top: 420px;
  left: 47px;
  transform: rotate(90deg);
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(7) {
  top: 420px;
  left: 127px;
  transform: rotate(90deg);
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(8) {
  top: 420px;
  left: 207px;
  transform: rotate(90deg);
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(9) {
  top: 420px;
  left: 287px;
  transform: rotate(90deg);
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(10) {
  top: 420px;
  left: 367px;
  transform: rotate(90deg);
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(11) {
  top: 280px;
  left: 848.5px;
  transform: rotate(90deg);
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(12) {
  top: 418px;
  left: 763px;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(13) {
  top: 418px;
  left: 563px;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(14) {
  top: 514px;
  left: 763px;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(15) {
  top: 514px;
  left: 563px;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(16) {
  top: 609.5px;
  left: 325px;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(17) {
  top: 336px;
  left: 586px;
  color: #FFF;
}

#map > .bluePrint > .gridWrapper > .roadLabel:nth-child(18) {
  top: 350px;
  left: 764px;
  color: #FFF;
}

/* Row Wrapper */

#map > .bluePrint > .gridWrapper > .rowWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
}

/* Screen Width: 390px */

@media only screen and (min-width: 390px) {
  #map {
    padding-top: 68px;
    background-color: var(--lavander-mist);
  }

  /* Search Bar */

  #map > .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
  }
}

/* Screen Width: 414px & Height: 848px */

@media only screen and (width: 414px) and (height: 848px) {
  #map > .bluePrint > .gridWrapper > .roadLabel:nth-child(4) {
    left: 325px;
  }

  #map > .bluePrint > .gridWrapper > .roadLabel:nth-child(5) {
    left: 160px;
  }
  
  #map > .bluePrint > .gridWrapper > .roadLabel:nth-child(6) {
    left: 37px;
  }
  
  #map > .bluePrint > .gridWrapper > .roadLabel:nth-child(7) {
    left: 117px;
  }
  
  #map > .bluePrint > .gridWrapper > .roadLabel:nth-child(8) {
    left: 197px;
  }
  
  #map > .bluePrint > .gridWrapper > .roadLabel:nth-child(9) {
    left: 277px;
  }
  
  #map > .bluePrint > .gridWrapper > .roadLabel:nth-child(10) {
    left: 357px;
  }
  
  #map > .bluePrint > .gridWrapper > .roadLabel:nth-child(11) {
    left: 838.5px;
  }
}

/* Screen Width: 1280px */

@media only screen and (min-width: 1280px) {
  #navigation_bar {
    visibility: hidden;
  }

  #side_bar {
    visibility: visible;
  }

  #map {
    margin-left: 300px;
    padding-top: 0;
  }

  /* Search Bar */

  #map > .searchBar {
    justify-content: flex-start;
    padding-left: 40px;
  }
}

/* Screen Width: 1920px */

@media only screen and (min-width: 1920px) {
  #map {
    margin-left: 350px;
  }
}