#my_gate_pass {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  padding: 48px 20px 24px;
  background: url('../assets/images/gate_pass_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Back Button */

#my_gate_pass > .btn {
  position: fixed;
  top: 24px;
  left: 20px;
}

/* Container */

#my_gate_pass > .container {
  display: grid;
  place-content: center;
  margin-top: 24px;
}

/* Profile Picture */

#my_gate_pass > .container > .profilePicture {
  justify-self: center;
  width: 72px;
  height: 72px;
  border: 2px solid var(--lavander-mist);
  border-radius: 50%;
  background-size: cover;
}

/* Name & Address */

#my_gate_pass > .container > .nameAndAddress {
  display: grid;
  place-content: center;
  gap: 8px;
  margin: 24px 0 16px;
}

#my_gate_pass > .container > .nameAndAddress > * {
  text-align: center;
}

#my_gate_pass > .container > .nameAndAddress > .name {
  font-family: 'SFProDisplay-Bold';
}

/* QR Code */

#my_gate_pass > .container > .qrCodeImage {
  justify-self: center;
  width: 225px;
  height: 225px;
  margin: 24px 0;
  background-size: cover;
}

/* Greetings */

#my_gate_pass > .container > .greetings {
  display: grid;
  place-content: center;
  gap: 8px;
  margin-top: 24px;
}

#my_gate_pass > .container > .greetings > * {
  text-align: center;
}

#my_gate_pass > .container > .greetings > .greet {
  font-family: 'SFProDisplay-Bold';
  font-size: 20px;
}

#my_gate_pass > .container > .greetings > .time {
  color: var(--boring-green);
  font-family: 'SFProDisplay-Bold';
  font-size: 20px;
}

/* Screen Width: 390px */

@media only screen and (min-width: 390px) {
  /* Container */

  #my_gate_pass > .container {
    margin-top: 64px;
  }

  /* Profile Picture */

  #my_gate_pass > .container > .profilePicture {
    width: 96px;
    height: 96px;
  }

  /* Name & Address */

  #my_gate_pass > .container > .nameAndAddress {
    margin: 24px 0;
  }
  
  #my_gate_pass > .container > .nameAndAddress > .name {
    font-size: 28px;
  }

  /* QR Code */

  #my_gate_pass > .container > .qrCodeImage {
    width: 275px;
    height: 275px;
  }

  /* Greetings */

  #my_gate_pass > .container > .greetings {
    margin-top: 40px;
  }
}

/* Screen Width: 410px */

@media only screen and (min-width: 410px) {
  /* Name & Address */

  #my_gate_pass > .container > .nameAndAddress > .name {
    font-size: 32px;
  }

  #my_gate_pass > .container > .nameAndAddress > .address {
    font-size: 18px
  }

  /* Greetings */

  #my_gate_pass > .container > .greetings > .greet {
    font-size: 24px;
  }

  #my_gate_pass > .container > .greetings > .time {
    font-size: 24px;
  }
}