#my_guests {
  position: relative;
  /* overflow: hidden; */
  height: 100vh;
  background-color: var(--white);
}

#my_guests::after {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 12.5%, #E7E7E7 100%);
}

/* Heading */

#my_guests > h1 {
  transition: 250ms;
  margin: 88px 20px 24px;
  font-family: 'SFProDisplay-Bold';
  font-size: 40px;
}

/* List */

#my_guests > .list {
  position: relative;
  overflow-y: auto;
  height: 80vh;
  padding-bottom: 200px;
  box-shadow: 0px -10px 20px rgba(187, 187, 187, 0.35);
  border-radius: 24px 24px 0px 0px;
  background-color: var(--white);
}

#my_guests > .list > div > h2 {
  padding: 24px 16px 0;
  font-family: 'SFProDisplay-Bold';
  font-size: 28px;
}

#my_guests > .list > div > .items {
  display: grid;
  gap: 16px;
  margin-top: 32px;
}

#my_guests > .list > div > .items > .item {
  display: grid;
  width: 100%;
}

#my_guests > .list > div > .items > .item > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

div > .dateAndGuestsCount {
  display: flex;
  align-items: center;
}

#my_guests > .list > div > .items > .item > div > .dateAndGuestsCount > * {
  width: 80px;
  font-size: 14px;
}

#my_guests > .list > div > .items > .item > div > .dateAndGuestsCount > .date {
  margin-right: 64px;
  font-family: 'SFProDisplay-Medium';
}

#my_guests > .list > div > .items > .item > div > .dateAndGuestsCount > .guestsCount {
  font-family: 'SFProDisplay-Bold';
}

#my_guests > .list > div > .items > .item > div > .action {
  transition: 350ms;
}

#my_guests > .list > div > .items > .item > .content {
  transition: 350ms;
}

#my_guests > .list > div > .items > .item > .content.opened {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  padding: 32px 24px;
  background-color: #F5F5F5;
}

#my_guests > .list > div > .items > .item > .content > div {
  display: none;
}

#my_guests > .list > div > .items > .item > .content.opened > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#my_guests > .list > div > .items > .item > .content > div > .nameAndContact {
  display: grid;
  gap: 4px;
}

#my_guests > .list > div > .items > .item > .content > div > .nameAndContactNum > .name {
  font-family: 'SFProDisplay-Bold';
  font-size: 18px;
}

#my_guests > .list > div > .items > .item > .content > div > .nameAndContactNum > .contactNum {
  font-family: 'SFProDisplay-Medium';
  font-size: 12px;
}

#my_guests > .list > div > .items > .item > .content > div > .time {
  font-family: 'SFProDisplay-Bold';
  font-size: 14px;
}

/* Actions */

#my_guests > .actions {
  position: fixed;
  right: 24px;
  bottom: 40px;
  z-index: 1;
}

#my_guests > .actions > .btn {
  margin-left: 14px;
  padding: 12px;
  border-radius: 100%;
}

/* Screen Width: 410px */

@media only screen and (min-width: 410px) {
  /* Heading */

  #my_guests > h1 {
    margin-top: 96px;
  }

  /* List */

  #my_guests > .list > div > h2 {
    padding: 32px 24px 0;
  }

  #my_guests > .list > div > .items > .item > div {
    padding: 0 24px;
  }
  
  #my_guests > .list > div > .items > .item > .content {
    gap: 32px;
  }

  /* Actions */

  #my_guests > .actions > .btn {
    margin-left: 16px;
  }
}