#reset_password {
  overflow-x: hidden;
  display: grid;
  padding: 48px 20px 80px;
}

/* Back Button */

#reset_password > .btn {
  margin-top: 64px;
}

/* Header */

#reset_password > header {
  display: grid;
  gap: 12px;
  margin: 24px 0 64px;
}

#reset_password > header > h1 {
  font-family: 'SFProDisplay-Bold';
  font-size: 40px;
  font-weight: 800;
}

#reset_password > header > p {
  font-size: 16px;
  font-weight: 600;
}

#reset_password > header > p > span {
  font-family: 'SFProDisplay-Bold';
  font-weight: 800;
}

/* Form */

#reset_password > form > .inputFields {
  display: grid;
  gap: 32px;
}

#reset_password > form > #error-message {
  display: none;
  margin-top: 24px;
}

#reset_password > form > .btn-container {
  margin: 80px 0 40px;
}

#reset_password > form > .resendCodeLink {
  margin-top: 24px;
  font-size: 14px;
}

#reset_password > form > .resendCodeLink > button {
  margin-left: 4px;
  color: var(--boring-green);
}

#reset_password > form > .btn,
#reset_password > form > .btn-container {
  width: 100%;
  margin: 96px 0 40px;
}

/* Screen Width: 390px */

@media only screen and (min-width: 390px) {
  /* Form */

  #reset_password > form > .btn {
    margin: 136px 0 48px;
  }
}

/* Screen Width: 410px */

@media only screen and (min-width: 410px) {
  #reset_password {
    padding-top: 64px;
  }

  /* Header */

  #reset_password > header {
    margin-bottom: 80px;
  }

  #reset_password > header > p {
    font-size: 18px;
  }
}