#search_guest {
  position: relative;
  overflow-x: hidden;
  padding: 24px 20px 24px;
  background-color: var(--white);
}

/* Heading */

#search_guest > h1 {
  margin-top: 24px;
  font-family: 'SFProDisplay-Bold';
  font-size: 20px;
  font-weight: 800;
}

/* Search Bar */

#search_guest > .searchBar {
  margin: 24px 0 32px;
}

/* Result */

#search_guest > .result {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
}

#search_guest > .result > .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

#search_guest > .result > .item > .nameAndContactNum {
  display: grid;
  gap: 4px;
}

#search_guest > .result > .item > .nameAndContactNum > .name {
  font-family: 'SFProDisplay-Bold';
  font-size: 18px;
  font-weight: 800;
}

#search_guest > .result > .item > .nameAndContactNum > .contactNum {
  font-family: 'SFProDisplay-Medium';
  font-size: 12px;
}

#search_guest > .result > .item > .log {
  font-family: 'SFProDisplay-Bold';
  font-size: 12px;
  font-weight: 800;
}

/* Screen Width: 390px */

@media only screen and (min-width: 390px) {
  /* Heading */

  #search_guest > h1 {
    font-size: 24px;
  }

  /* Search Bar */

  #search_guest > .searchBar {
    margin-bottom: 40px;
  }

  /* Result */

  #search_guest > .result {
    height: 68vh;
  }
}

/* Screen Width: 410px */

@media only screen and (min-width: 410px) {
  /* Result */

  #search_guest > .result > .item > .nameAndContactNum > .name {
    font-size: 20px;
  }

  /* Result */

  #search_guest > .result {
    height: 70vh;
  }
}