#status {
  overflow: hidden;
  display: grid;
  place-content: center;
  place-items: center;
  height: 100vh;
  padding: 0 20px 0;
}

#status > div {
  display: grid;
  gap: 16px;
  margin: 40px 0 80px;
}

#status > div > * {
  text-align: center;
}

#status > div > h1 {
  font-family: 'SFProDisplay-Bold';
  font-size: 24px;
}

#status > .actions,
#status > .btn {
  width: 100%;
}

#status > .actions > .btn {
  width: 100%;
}