/* Root */

:root {
  --boring-green: #5CB950;
  --cyan-blue: #1A73E8;
  --black: #000;
  --dark-jungle-green: #1E1E1E;
  --carbon-grey: #606060;
  --storm-dust: #636466;
  --romance: #B1B3B6;
  --gull-grey: #99A8BA;
  --lavander-mist: #E6EBF0;
  --white: #FFF;
  --success: #32A75A;
  --warning: #FFCC00;
  --error: #C01F28;
}

/* Font Face */

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('../assets/fonts/SFProDisplay-Regular.ttf');
}

@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('../assets/fonts/SFProDisplay-Medium.ttf');
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url('../assets/fonts/SFProDisplay-Bold.ttf');
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark-jungle-green);
  font-family: 'SFProDisplay-Regular', Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

a {
  color: var(--cyan-blue);
  text-decoration: none;
  font-size: 14px;
  font-weight: 800;
  cursor: pointer;
}

/* Button */

input[type="submit"],
button,
.btn {
  transition: 0.25s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: max-content;
  padding: 12px 24px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  -webkit-appearance: none;
}

.btn.circle {
  padding: 12px;
  border-radius: 100%;
}

input[type="submit"] > span,
button > span,
.btn > span {
  margin-left: 8px;
}

.btn.solid {
  background-color: var(--boring-green);
  color: var(--white);
}

.btn.solid:hover {
  background-color: #47AF3A;
}

.btn.solid:active {
  background-color: #3FA732;
}

.btn.solid[disabled] {
  background-color: #D6EDD3;
  cursor: auto;
}

.btn.outline {
  border: 1px solid var(--romance);
  background-color: var(--white);
  color: var(--dark-jungle-green);
}

.btn.outline:hover {
  background-color: #47AF3A;
  color: var(--white);
}

.btn.outline:active {
  background-color: #3FA732;
  color: var(--white);
}

.btn.outline[disabled] {
  background-color: #F5F5F5;
  color: var(--romance);
  cursor: auto;
}

.btn.text {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  color: var(--dark-jungle-green);
  font-family: 'SFProDisplay-Medium';
}

.btn.text > span {
  margin: 0;
  color: var(--dark-jungle-green) !important;
}

.btn.text > span {
  margin-left: 4px;
  color: var(--white);
}

.btn.text:hover {
  color: #47AF3A;
}

.btn.text:active {
  color: #3FA732;
}

.btn.text[disabled] {
  color: var(--romance);
  cursor: auto;
}

.btn-container {
  position: relative;
}

.btn-container > .btn {
  width: 100%;
}

.btn-container > :last-child {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

/* Input */

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
select,
textarea {
  transition-duration: 0.25s;
  padding: 8px 8px 8px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--dark-jungle-green);
  color: var(--dark-jungle-green);
  font-size: 14px;
}

input[type="checkbox"] {
  position: relative;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  -webkit-appearance: none;
}

input:focus {
  border-bottom: 2px solid var(--boring-green);
}

input[disabled] {
  border-bottom: 1px solid #B1B3B6;
}

::placeholder {
  color: var(--storm-dust);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputStyle {
  width: 100% !important;
  height: 40px;
  margin-top: 4px;
  padding: 0 !important;
  text-align: center;
  font-size: 20px !important;
}

.inputStyle:not(:first-child) {
  margin-left: 20px;
}

.inputStyleError {
  width: 100% !important;
  height: 40px;
  margin-top: 4px;
  padding: 0 !important;
  border-bottom: 1px solid var(--error) !important;
  text-align: center;
  font-size: 20px !important;
}

.inputStyleError:not(:first-child) {
  margin-left: 20px;
}

/* Form Group */

.form-group {
  display: grid;
  gap: 8px;
}

.form-group > label {
  font-size: 14px;
  font-weight: 800;
}

.form-group > label > .required-symbol {
  margin-left: 4px;
  color: var(--boring-green);
}

.form-group > label > .guide {
  margin-left: 4px;
  color: var(--storm-dust);
  font-weight: 500;
}

.form-group > .input-field {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--dark-jungle-green);
}

.form-group > .input-field > input,
.form-group > .input-field > select {
  width: 100%;
  padding-right: 40px;
  border: none;
}

.form-group > .input-field > .prefix {
  margin-right: 10px;
}

.form-group > .input-field > select {
  padding-right: 0;
}

.form-group > .input-field.date > input {
  padding-right: 10px;
}

.form-group > .input-field.date > .suffix,
.form-group > .input-field.select > .suffix {
  pointer-events: none;
}

.form-group > .input-field:focus-within {
  outline: none;
  border-bottom: 2px solid var(--boring-green);
}

.form-group > .input-field > .suffix {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  padding: 0;
  background-color: transparent;
}

.form-group > .input-image-field {
  position: relative;
  display: grid;
  place-content: center;
  place-items: center;
  gap: 16px;
  padding: 24px;
  border: 1px solid var(--romance);
  border-radius: 4px;
  background-color: #F5F5F5;
}

.form-group > .input-image-field > input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.form-group > .input-image-field > div {
  display: grid;
  gap: 8px;
}

.form-group > .input-image-field > div > p {
  text-align: center;
}

.form-group > .input-image-field > div > p:first-child {
  font-size: 14px;
}

.form-group > .input-image-field > div > p:last-child {
  font-size: 12px;
}

.form-group > .avatar-container {
  position: relative;
  width: fit-content;
}

.form-group > .avatar-container > input {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.form-group > .avatar-container > span {
  position: absolute;
  right: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  place-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: rgba(35, 35, 35, 0.5);
  pointer-events: none;
}

/* Form Check */

.form-check {
  display: flex;
  align-items: center;
}

.form-check > p {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 600;
}

/* Info Group */

.info-group {
  display: grid;
  gap: 4px;
}

.info-group > label {
  font-family: 'SFProDisplay-Medium';
  font-size: 14px;
  font-family: 600;
}

.info-group > p,
.info-group > a {
  font-family: 'SFProDisplay-Bold';
  font-size: 16px;
  font-weight: 800;
}

.info-group > a {
  display: flex;
  align-items: center;
  color: var(--dark-jungle-green);
  text-decoration: underline;
}

.info-group > a > button {
  margin-left: 12px;
  padding: 0;
  background: none;
}

/* Badge */

.badge {
  display: grid;
  place-content: center;
  place-items: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--boring-green);
  color: var(--white);
  font-size: 10px;
}

/* Files */

.files {
  display: grid;
  gap: 16px;
}

.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.file > .icon-and-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.file > .icon-and-info > .info > .name {
  font-family: 'SFProDisplay-Medium';
  font-size: 14px;
  font-weight: 600;
}

.file > .icon-and-info > .info > .size {
  color: var(--carbon-grey);
  font-size: 12px;
}

.file > button {
  padding: 0;
  background-color: transparent;
}

/* Progress Bar */

.progress-bar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.progress-bar > span {
  display: inline-block;
  width: 60px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--romance);
}

.progress-bar > span:not(:first-child) {
  margin-left: 8px;
}

.progress-bar > span.active {
  background-color: var(--boring-green);
}

/* Error Message */

#error-message > p {
  color: var(--error);
  font-family: 'SFProDisplay-Medium';
  font-size: 14px;
}

#error-message > p > .btn.text {
  display: inline;
  margin-left: 2px;
  color: var(--boring-green);
}

/* Menu */

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.75);
}

#menu > .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#menu > .links a {
  animation: menuItemsAnimation 500ms cubic-bezier(0.68, -0.6, 0.32, 1.75) forwards;
  opacity: 0;
}

#menu > .links > a {
  margin-bottom: 50px;
  color: var(--carbon-grey);
  font-size: 18px;
}

#menu > .links > a.active {
  color: var(--dark-jungle-green);
  font-family: 'SFProDisplay-Bold';
  font-size: 32px;
}

/* Navigation Bar */

#navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 20px;
  box-shadow: 10px 10px 20px rgba(187, 187, 187, 0.25);
  background-color: var(--white);
}

#navigation-bar > #brand-logo {
  width: 24px;
  height: 24px;
}

#navigation-bar > #notification-container {
  position: relative;
  padding-top: 8px;
}

#navigation-bar > #notification-container > .badge {
  position: absolute;
  top: 0;
  right: -8px;
  border: 1px solid var(--white);
}

/* Stack */

.stack {
  box-shadow: -5px 10px 20px rgba(187, 187, 187, 0.25);
  border-radius: 16px;
}

/* Tabs */

#tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#tabs > .tab {
  display: grid;
  gap: 8px;
  flex: .5;
  justify-content: center;
  height: 100%;
}

#tabs > .tab > p {
  color: var(--carbon-grey);
  font-family: 'SFProDisplay-Regular';
}

#tabs > .tab.active > span {
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--dark-jungle-green);
}

#tabs > .tab.active > p {
  color: var(--dark-jungle-green);
  font-family: 'SFProDisplay-Bold';
  font-weight: 800;
}

/* Mark */

.mark {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--boring-green);
}

/* Animation */

@keyframes menuItemsAnimation {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Screen Width: 390px */

@media only screen and (min-width: 390px) {
  /* Form Group */

  .form-group > label {
    font-size: 16px;
  }

  /* Info Group */

  .info-group {
    gap: 6px;
  }

  .info-group > label {
    font-size: 16px;
  }

  .info-group > p {
    font-size: 18px;
  }

  /* Menu */

  #menu > .links > a {
    font-size: 20px;
  }
  
  #menu > .links > a.active {
    font-size: 40px;
  }

  /* Navigation Bar */

  #navigation-bar {
    padding: 16px 20px;
  }

  /* Tabs */

  #tabs > .tab.active > span {
    height: 4px;
  }
}

/* Screen Width: 410px */

@media only screen and (min-width: 410px) {
  /* Info Group */

  .info-group {
    gap: 8px;
  }

  .info-group > label {
    font-size: 16px;
  }

  .info-group > p {
    font-size: 20px;
  }
}