#verification {
  overflow: hidden;
  display: grid;
  padding: 48px 20px 80px;
}

/* Back Button */

#verification > .btn {
  margin-top: 64px;
}

/* Header */

#verification > header {
  display: grid;
  gap: 12px;
  margin: 24px 0 64px;
}

#verification > header > h1 {
  font-family: 'SFProDisplay-Bold';
  font-size: 40px;
}

#verification > header > p {
  font-size: 16px;
  font-weight: 600;
}

#verification > header > p > span {
  font-family: 'SFProDisplay-Bold';
  font-weight: 800;
}

/* Form */

#verification > form > .resendCodeLink {
  display: flex;
  margin-top: 24px;
  font-family: 'SFProDisplay-Medium' !important;
  font-size: 14px;
}

#verification > form > .resendCodeLink > .btn {
  display: inline-flex !important;
  margin-left: 4px;
  color: var(--boring-green);
}

#verification > form > .btn,
#verification > form > .btn-container {
  width: 100%;
  margin: 96px 0 40px;
}

#verification > form > .registrationLink {
  text-align: center;
  font-size: 14px;
}

#verification > form > .registrationLink > p > a {
  color: var(--boring-green);
}

/* Screen Width: 390px */

@media only screen and (min-width: 390px) {
  /* Form */

  #verification > form > .btn {
    margin: 136px 0 48px;
  }
}

/* Screen Width: 410px */

@media only screen and (min-width: 410px) {
  #verification {
    padding-top: 64px;
  }

  /* Header */

  #verification > header {
    margin-bottom: 80px;
  }

  #verification > header > p {
    font-size: 18px;
  }
}